server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/migration/master.xml

jwt:
  secret: super-mega-secret-1234567890-abcdefghijklmnopqrstuvwxyz
  expiration-ms: 86400000

encryption:
  key: 0123456789abcdef0123456789abcdef